---
layout: layouts/base.njk
---
<section class="content">
  <div class="container">
    {% include "partials/breadcrumbs.njk" %}
    <div class="content-layout">
      <article class="article">
        {{ content | safe }}
      </article>
      {% include "partials/related.njk" %}
    </div>
  </div>
</section>
